:root {
  --stroke-color: #CCC;
  --fill-color: #FFF;
  --blocked-fill-color: #666;
  --start-fill-color: #8F8;
  --goal-fill-color: #F88;
  --current-fill-color: #FF4;
  --open-fill-color: #BBF;
  --closed-fill-color: #DDD;
  --forced-fill-color: #C8F;
  --previous-color: #999;
  --current-color: #44F;
  --examined-color: #AAA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-color: #333;
    --fill-color: #222;
    --blocked-fill-color: #666;
    --start-fill-color: #080;
    --goal-fill-color: #800;
    --current-fill-color: #660;
    --open-fill-color: #006;
    --closed-fill-color: #444;
    --forced-fill-color: #60a;
    --previous-color: #888;
    --current-color: #eee;
    --examined-color: #888;
  }
}

rect {
  stroke: var(--stroke-color);
  stroke-width: 1px;
  fill: var(--fill-color);
  shape-rendering: crispEdges;
}

rect.blocked {
  fill: var(--blocked-fill-color);
}

rect.goal {
  fill: var(--goal-fill-color);
}

rect.start {
  fill: var(--start-fill-color);
}

rect.current {
  fill: var(--current-fill-color);
}

rect.open {
  fill: var(--open-fill-color);
}

rect.closed {
  fill: var(--closed-fill-color);
}

rect.forced {
  fill: var(--forced-fill-color);
}

line {
  stroke-width: 2px;
  stroke-linecap: round;
}

line.previous {
  stroke: var(--previous-color);
}

line.current {
  stroke: var(--current-color);
}

line.examined {
  stroke: var(--examined-color);
  stroke-dasharray: 3,3;
}

#arrowhead-previous {
  fill: var(--previous-color);
  stroke: none;
}

#arrowhead-current {
  fill: var(--current-color);
  stroke: none;
}

#arrowhead-examined {
  fill: var(--examined-color);
  stroke: none;
}
